*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.hover-btn button{
    background-color: aqua;
    height: 40px;
    width: 80px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
}
.hover-btn :hover{
    transform: translateY(10px);
}
.hover-btn-1 button{
    background-color: aqua;
    height: 40px;
    width: 80px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
}
.hover-btn-1 :hover{
    transform: scaleY(1.5);
}
.hover-btn-2 button{
    background-color: rgb(39, 95, 180);
    height: 40px;
    width: 80px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
}
.hover-btn-2 :hover{
    transform: rotateX(50deg);
}
.hover-btn-3 button{
    background-color: rgb(180, 170, 23);
    height: 40px;
    width: 80px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
}
.hover-btn-3 :hover{
    transform: translateY(10px);
}