*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: ritroy;
}

html,body{
    height: 100%;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    transform: translate(90%, 20%);
    height: 500px;
    width: 500px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 22px;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
